*{
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#gameboard {
    width: 60vw;
    height: 60vw;
    background-color: #000;
    border-solid: 3px solid #000;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: calc(60vw / 3);
    height: calc(60vw / 3);
    background-color: #fff;
    border: 3px solid #000;
    box-sizing: border-box;
    font-size: calc(90vw / 6);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: calc(60vw / 3 - 20px);
    width: calc(60vw / 3 - 20px);
    border-radius: 50%;
    border: calc(60vw / 30) solid #2836bd;
    box-sizing: border-box;
}

.cross {
    height: calc(60vw / 3 - 20px);
    width: calc(60vw / 3 - 20px);
    position: relative;
}

.cross::before, .cross::after {
    content: '';
    position: absolute;
    background-color: red;
}

.cross::before {
    height: calc(60vw / 3 - 20px);
    width: calc(60vw / 30);
    top: 0;
    left: calc(60vw / 6 - 120vw / 60);
    transform: rotate(45deg);
}

.cross::after {
    height: calc(60vw / 30);
    width: calc(60vw / 3 - 20px);
    top: calc(60vw / 6 - 120vw / 60);
    left: 0;
    transform: rotate(45deg);
}
